html, body { oveflow: hidden; }

body
{
	background: #293021 url('background/green-marble.png') no-repeat center center fixed;
	background-size: cover;
	font-smooth: never;
	-webkit-font-smoothing : none;
	font-smooth: never;
	font: 13px Tahoma, sans-serif;
	overflow: hidden;
}

a:link, a:visited { color: #c6b652; text-decoration: none; }
a:hover { background: #3E4637; color: #c6b652; }
a:active { text-decoration: none; }

h3 {
	font: 10px Tahoma, sans-serif;
	margin: 0px;
	font-weight: normal;
	color: #C4B550;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #282E22;
	text-transform: uppercase;
	padding-left: 10px;
}

ul {
	list-style-type: none;
	margin-left: -35px;
	margin-top: 0px;
}

li {
	margin-left: 0px;
	padding-left: 2px;
	line-height: 19px;
	height: 20px;
	display: block;
}

li img {
	padding-bottom: 1px;
}

li a:link, li a:visited {
	color: #fff;
	background-color:  #3E4637;	
}

li:hover a {
        background-color: #282e22;
        color: #fff;
}

li:hover {
        background-color: #282e22;
        color: #c6b652;
}

li:hover a:hover {
	background-color: #282e22;
	color: #c6b652;
}

/* Windows
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.steam-window {
        border-style: outset;
        border-width: 1px;
        border-color: #889180 #282E22 #282E22 #889180;
        background-color: #4C5844;
        color: #FFFFFF;
        padding: 5px;
        box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
	position: absolute;
}

#console
{
	width: 400px;
	height: 500px;
	min-width: 150px;
	min-height: 150px;
}

#library
{
        width: 200px;
        height: 350px;
        min-width: 150px;
        min-height: 150px;
	top: 50px;
	left: 450px;
}

#update {
	display: none;
}

/* Top window controls
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
        float: left;
        display: inline-block;
}

.title {
        margin-bottom: 6px;
        margin-left: 5px;
        float: left;
        display: inline-block;
}

 .win-controls {
        display: inline-block;
        float: right;
}

.dragbar {
	width: calc(100% - 48px);
	height: 27px;
	position: absolute;
	top: 0px;
	left: 0px
	z-index: 9000;
}


/* Library
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#librarydisplay {
        width: 100%;
        height: calc(100% - 27px);
        color: #dedfd6;
        border-style: inset;
        border-color: #282E22 #889180 #889180 #282E22;
        /* border-color: #282E22 #889180 #889180 #282E22; outset*/
        border-width: 1px;
        background-color: #3E4637; /* dark: #3E4637 */
        margin-bottom: 5px;
        display: inline-block;
        overflow-x: hidden;
}

.gameicon {
	margin-right: 5px;
	vertical-align: middle;
}

/* Console
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#consoledisplay {
	width: 100%;
	height: calc(100% - 53px);
	color: #dedfd6;
	border-style: inset;
	border-color: #282E22 #889180 #889180 #282E22;
	/* border-color: #282E22 #889180 #889180 #282E22; outset*/
	border-width: 1px;
	background-color: #4C5844; /* dark: #3E4637 */
	margin-bottom: 5px;
	display: inline-block;
	overflow-y: scroll;
	overflow-x: hidden;
}

#consolelog {
	margin-top: 0px;
	padding: 0px;
	margin-left: 2px;
	margin-right: -2px;
	font-family: monospace;
	white-space: pre-wrap
}

.hilight { color: #c6b652; }


/* Console controls
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#enter {
	background: #4C5844;
	color: #FFF;
	border-style: outset;
	border-width: 1px;
	border-color: #889180 #282E22 #282E22 #889180;
	display: inline-block;
	float: right;
}

#enter:active {
	outline: none;
        box-shadow: 0 0 0 #000000;
        border-style: inset;
	color: #c4b550;
        border-color: #282E22 #889180 #889180 #282E22;
        border-width: 1px;
	background-color: #3E4637;
}

#consoleinput {
	border-style: inset;
	border-color: #282E22 #889180 #889180 #282E22;
	border-width: 1px;
	background: #4C5844;
	color: #a0aa95;
	width: calc(100% - 63px);
	padding-left: 2px;
}

input:focus { outline: none; }


/* Scrollbar style for webkit
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar {
	background-color: #5a6a50;
	width: 20px;
}

::-webkit-scrollbar-button {
	width: 20px;
	height: 20px;
	background-color: #4c5844;
        border-style: outset;
        border-width: 1px;
        border-color: #889180 #282E22 #282E22 #889180;

}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url('icons/scroll-down.png');
	background-position: 3px 2px;
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url('icons/scroll-up.png');
	background-position: 1px 2px;
}

::-webkit-scrollbar-thumb {
        width: 20px;
        background-color: #4c5844;	
        border-style: outset;
        border-width: 1px;
        border-color: #889180 #282E22 #282E22 #889180;
}

::selection {
    color: #fff;
    background-color: #c4b550;
}


/* Autocomplete styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ui-menu .ui-menu-item a {
	width: 200px;
        color: #dedfd6;
        border-style: outset;
        border-color: #282E22 #889180 #889180 #282E22;
        border-width: 1px;
        background-color: #4C5844;      
	font-family: monospace;
}

.ui-autocomplete {
	z-index: 1000;
	float: left;
	padding: 4px 0;
	margin: 0 0 10px 25px;
	list-style: none;
	background-color: #4c5844;
	border-color: #889180 #282E22 #282E22 #889180;
        color: #dedfd6;
	font-family: monospace;
	padding-left: 4px;
	padding-right: 4px;
	border-style: solid;
	border-width: 1px;
	max-width: 200px;
}

.ui-menu-item:hover {
    color: #fff;
    background-color: #c4b550;
}

.ui-helper-hidden-accessible {
	display: none;
}



